table {
  border-collapse: separate;
  border-spacing: 2px 20px;
  color: #4a4a4d;
  text-align: center;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
th,
td {
  padding: 25px 30px;
  vertical-align: middle;
   width: 900px;
}
thead {
  background:  #4a4a4d;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
th:first-child {
  border-top-left-radius: 0px;
  text-align: center;
}
th:last-child {
  border-top-right-radius: 0px;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
td:first-child {
  border-left: 1px solid #cecfd5;
}
.book-title {
  color: #395870;
  display: block;
}
.text-offset {
  color: #7c7c80;
  font-size: 12px;
}
.item-stock,
.item-qty {
  text-align: center;
}
.item-price {
  text-align: right;
}
.item-multiple {
  display: block;
}
tfoot {
  text-align: right;
}
tfoot tr:last-child {
  background: #f0f0f2;
  color: #395870;
  font-weight: bold;
}
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 0px;
}
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 0px;
}
.kayit_tb{
	padding: 5px 5px !important;  
}
.kayit_tb_2{
	    visibility: visible;
    animation-name: fadeInUp;
    padding-bottom: 0px;
    padding-top: 0px;

}