﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Sorunuz Kalmasın</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/Content/Temaicerik/")assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Temaicerik/")assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Temaicerik/")assets/css/font.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Temaicerik/")assets/css/animate.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Temaicerik/")assets/css/structure.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Temaicerik/")assets/css/tablo.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Temaicerik/")assets/css/style.css">


    <script src="@Url.Content("~/Content/Temaicerik/")assets/js/html5shiv.min.js"></script>
    <script src="@Url.Content("~/Content/Temaicerik/")assets/js/respond.min.js"></script>
    <script src="@Url.Content("~/Content/Temaicerik/")assets/js/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/Temaicerik/")assets/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/Temaicerik/")assets/js/wow.min.js"></script>
    <script src="@Url.Content("~/Content/Temaicerik/")assets/js/custom.js"></script>





</head>
<body>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <header id="header">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="index.html"><span>Sorunuz</span>Kalmasın</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav custom_nav">
                            <li>@Html.ActionLink(@Resources.Anasayfa.home, "Anasayfa", "Home")</li>
                            <li>
                                @Html.ActionLink(@Resources.Anasayfa.course, "Anasayfa", "Home")
                            </li>
                            <li>
                                @Html.ActionLink(@Resources.Anasayfa.contact, "Anasayfa", "Home")
                            </li>
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                            <li align="right">
                                @Html.ActionLink("TR", "Anasayfa", new { lang = "tr" })
                            </li>
                            <li align="right">
                                @Html.ActionLink("ENG", "Anasayfa", new { lang = "en" })
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <form id="searchForm">
                <input type="text" placeholder="@Resources.Anasayfa.search">
                <input type="submit" value="">
            </form>
        </div>
    </header>
    <div>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        <!--Ajax işlemleri için gereken dosyamızı burada tüm sayfalarda kullanılacak şekilde tanıttık.
        Ayrıca dosyanın orijinal yolunu değil, bizim belirlediğimiz ~/bundles/jquery-unobtrusive
        yolunun kullanıldığına dikkat edin.-->
        @Scripts.Render("~/bundles/jquery-unobtrusive")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer_inner">
                        <p class="pull-left">
                            &copy; @DateTime.Now.Year
                            SORUNUZ KALMASIN...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer_inner">
                                <p>&copy; @DateTime.Now.Year </p>
                                <p class="pull-left">SORUNUZ KALMASIN...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>*@
</html>
