﻿@model IEnumerable<WebProgramlamaDeneme_25.Models.Makale>

@{
    ViewBag.Title = "Ekranayaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-10">
    <div class="row">
        <a class="navbar-brand deneme" href="~/Views/Makales/Index.cshtml">Matematik</a>
        <div class="rightbar_content">
            <div class="col-md-9 single_blog_sidebar wow fadeInUp">

                @Html.ActionLink("Yeni Konu Oluşutr", "Create")
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Matematik</th>
                            <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></th>
                            <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/saat.ico" alt="Saat"></th>
                            <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/tarih.ico" alt="Tarih"></th>
                            <th scope="col" align="center"></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {

                        <tbody>
                            <tr>
                                <td>
                                    <strong class="book-title">@Html.DisplayFor(modelItem => item.Baslik)</strong>
                                    <span class="text-offset">@Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)</span>
                                </td>
                                <td class="item-qty">atılan yorum sayısı<img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></td>
                                <td class="item-price">@Html.DisplayFor(modelItem => item.Tarih)</td>
                                <td class="item-price">@Html.DisplayFor(modelItem => item.Saat)</td>

                                <td>

                                    @Html.ActionLink("Details", "Details", new { id = item.MakaleId }) |

                                </td>
                            </tr>
                        </tbody>

                    }




                </table>
            </div>
        </div>
    </div>
</div>