﻿@model IEnumerable<WebProgramlamaDeneme_25.Models.Makale>

@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section id="contentbody">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <div class="middlebar_content">
                        <div class="popular_categori  wow fadeInUp">
                            <h2 class="limeblue_bg">@Resources.Anasayfa.last</h2>


                            <ul class="poplr_catgnva">
                                @foreach (var item in Model)
                                {
                                    <li><a href="" #>@Html.DisplayFor(modelItem => item.Baslik)</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="rightbar_content">
                        <div class="col-md-9 single_blog_sidebar wow fadeInUp">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">@Html.ActionLink(@Resources.Anasayfa.Math, "Ekranayaz", "Makales")</th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/saat.ico" alt="Saat"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/tarih.ico" alt="Tarih"></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {

                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong class="book-title">@Html.DisplayFor(modelItem => item.Baslik)</strong>
                                                <span class="text-offset">@Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)</span>
                                            </td>
                                            <td class="item-qty">atılan yorum sayısı<img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Tarih)</td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Saat)</td>
                                        </tr>
                                    </tbody>

                                }

                            </table>
                        </div>
                        <div class="col-md-9 single_blog_sidebar wow fadeInUp">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">@Html.ActionLink(@Resources.Anasayfa.geo, "Ekranayaz", "Makales")</th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/saat.ico" alt="Saat"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/tarih.ico" alt="Tarih"></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {

                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong class="book-title">@Html.DisplayFor(modelItem => item.Baslik)</strong>
                                                <span class="text-offset">@Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)</span>
                                            </td>
                                            <td class="item-qty">atılan yorum sayısı<img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Tarih)</td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Saat)</td>
                                        </tr>
                                    </tbody>

                                }
                            </table>
                        </div>
                        <div class="col-md-9 single_blog_sidebar wow fadeInUp">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">@Html.ActionLink(@Resources.Anasayfa.physic, "Ekranayaz", "Makales")</th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/saat.ico" alt="Saat"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/tarih.ico" alt="Tarih"></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {

                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong class="book-title">@Html.DisplayFor(modelItem => item.Baslik)</strong>
                                                <span class="text-offset">@Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)</span>
                                            </td>
                                            <td class="item-qty">atılan yorum sayısı<img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Tarih)</td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Saat)</td>
                                        </tr>
                                    </tbody>

                                }
                            </table>
                        </div>
                        <div class="col-md-9 single_blog_sidebar wow fadeInUp">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">@Html.ActionLink(@Resources.Anasayfa.chemistry, "Ekranayaz", "Makales")</th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/saat.ico" alt="Saat"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/tarih.ico" alt="Tarih"></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {

                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong class="book-title">@Html.DisplayFor(modelItem => item.Baslik)</strong>
                                                <span class="text-offset">@Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)</span>
                                            </td>
                                            <td class="item-qty">atılan yorum sayısı<img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Tarih)</td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Saat)</td>
                                        </tr>
                                    </tbody>

                                }
                            </table>
                        </div>
                        <div class="col-md-9 single_blog_sidebar wow fadeInUp">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">@Html.ActionLink(@Resources.Anasayfa.bio, "Ekranayaz", "Makales")</th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/saat.ico" alt="Saat"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/tarih.ico" alt="Tarih"></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong class="book-title">@Html.DisplayFor(modelItem => item.Baslik)</strong>
                                                <span class="text-offset">@Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)</span>
                                            </td>
                                            <td class="item-qty">atılan yorum sayısı<img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Tarih)</td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Saat)</td>
                                        </tr>
                                    </tbody>

                                }
                            </table>
                        </div>
                        <div class="col-md-9 single_blog_sidebar wow fadeInUp">
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">@Html.ActionLink(@Resources.Anasayfa.turk, "Ekranayaz", "Makales")</th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/saat.ico" alt="Saat"></th>
                                        <th scope="col" align="center"><img src="@Url.Content("~/Content/Temaicerik/")images/tarih.ico" alt="Tarih"></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {

                                    <tbody>
                                        <tr>
                                            <td>
                                                <strong class="book-title">@Html.DisplayFor(modelItem => item.Baslik)</strong>
                                                <span class="text-offset">@Html.DisplayFor(modelItem => item.Uye.KullaniciAdi)</span>
                                            </td>
                                            <td class="item-qty">atılan yorum sayısı<img src="@Url.Content("~/Content/Temaicerik/")images/yorum.ico" alt="Yorum"></td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Tarih)</td>
                                            <td class="item-price">@Html.DisplayFor(modelItem => item.Saat)</td>
                                        </tr>
                                    </tbody>

                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>